body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body section {
  background-image: url('./purple.jpeg');
}

.btn-purple {
  background-color: #562AA7;
  border-color: #562AA7;
}

.btn-purple:hover {
  background-color: #2E21AC;
  border-color: #2E21AC;
}